h1 {
    font-size: 30px;
    color: #666;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

#song {
    font-size: 10px;
    color: #666;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

.dropdown-menu table {
    height: 300px;
    width: 350px;
}
table {
    width: 100%;
    table-layout: fixed;
}
input {
    width: 176px;
}
#imSpecial {
    padding-left: 50px;
}
.tbl-header {
    background: rgba(255, 255, 255, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
}
.tbl-content {
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #666;
    text-transform: uppercase;
}
td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #666;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.well-lg {
    padding: 24px;
    border-radius: 6px;
}
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.collapse {
    display: none;
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
}
.collapse.in {
    display: block;
}
.btn {
    margin-bottom: 5px;
    user-select: 'none';
}
.btn-toggle-1,
.btn-toggle-1:hover,
.btn-toggle-1:focus,
.btn-toggle-1:active,
.btn-toggle-1:active:focus {
    background: #34d94d;
    background-image: -webkit-linear-gradient(top, #34d94d, #10541a);
    background-image: -moz-linear-gradient(top, #34d94d, #10541a);
    background-image: -ms-linear-gradient(top, #34d94d, #10541a);
    background-image: -o-linear-gradient(top, #34d94d, #10541a);
    background-image: linear-gradient(to bottom, #34d94d, #10541a);
    color: #ffffff;
    user-select: 'none';
}
.btn-toggle-2,
.btn-toggle-2:hover,
.btn-toggle-2:focus,
.btn-toggle-2:active,
.btn-toggle-2:active:focus {
    background: #d43131;
    background-image: -webkit-linear-gradient(top, #d43131, #471414);
    background-image: -moz-linear-gradient(top, #d43131, #471414);
    background-image: -ms-linear-gradient(top, #d43131, #471414);
    background-image: -o-linear-gradient(top, #d43131, #471414);
    background-image: linear-gradient(to bottom, #d43131, #471414);
    color: #ffffff;
    user-select: 'none';
}

.animate-repeat {
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}

#resultsPls {
    font-size: 20px;
    color: #666;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
}